* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 100%;
    height: 700px;
    background-image: url(../imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.barra {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    background: #fff;
}

.barra a img {
    width: 100px;
    height: 60px;
}

.form-box {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 1% auto;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
    top: 10px;
}

.button-box {
    width: 240px;
    margin: 15px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e0e0e0;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 14px;
}

#elegir {
   top: 0;
   left: 0;
   position: absolute;
   width: 120px;
   height: 100%;
   background: linear-gradient( to right, rgba(255, 255, 255, 0.743), rgb(170, 108, 83));
   border-radius: 30px;
   transition: 0.8s;
   font-size: 16px;
}

.redes-sociales {
    position: absolute;
    margin: 15px auto;
    text-align: center;
    width: 100%;
    top: 80px;
}

.redes-sociales img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #e0e0e0;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 150px;
    position: absolute;
    width: 410px;
    transition: 0.8s;
}

.input-group div {
    margin: 1px auto;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #727675;
    outline: none;
    background: transparent;
    font-size: 14px;
}

.registrar {
    left: 600px;
}

.group-registrar {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
}

.div-registrar {
    width: 48%;
}

.submint-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient( to right,rgba(139, 139, 139, 0.54), rgb(170, 108, 83));
    border: 0px;
    outline: none;
    border-radius: 30px;
    font-size: 18px;
}

.check-box {
    margin: 30px 10px 30px 0px;
}

#login {
    left: 45px;
    top: 170px;
}

#registrar {
    left: 600px;
}

.boton {
    margin: 20px auto;
}






